fastapi
uvicorn[standard]
jinja2
python-multipart
pdfplumber
scikit-learn
openpyxl
requests
authlib
httpx
itsdangerous
python-dotenv
opencv-python-headless
pytesseract
pdf2image
Pillow
numpy
google-auth
google-auth-oauthlib
google-api-python-client
pygments
pandas

